<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead preloadMainImgs="true" schemaOrg="true"}}

<body id="app-body" class="is-loading">

    {{> components/header }}

    <div class="page-wrapper">

        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-3 ta-center">
                        <img src="/assets/img/ironVulture.png" width="237" height="176"
                            data-comment="Explicit width and height for SEO purposes" alt="nms space ship"
                            draggable="false">
                    </div>
                    <div class="col-9">
                        <h1>Welcome to the <span class="primary">NMSCD</span>
                            <small class="hidden for seo">No Man's Sky Community Developers and Designers</small>
                        </h1>
                        <i>No Man's Sky Community Developers &amp; Designers</i>
                    </div>
                </div>
            </div>
        </section>

        <section class="who-are-we">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="heading">
                            <h2>About us</h2>
                        </div>
                        <span>{{meta.description}}</span><br>
                        <a href="https://github.com/NMSCD/About#how-to-join" title="join our community" role="button"
                            class="outline cta" target="_blank" rel="noopener noreferrer">Join our community!</a>
                    </div>
                    <div class="col-3 ta-center noselect">
                        <img src="/assets/img/glitches.png" width="230" height="230"
                            data-comment="Explicit width and height for SEO purposes" alt="many items"
                            draggable="false">
                    </div>
                </div>
            </div>
        </section>

        <section class="projects list">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>Projects</h2>
                        </div>
                        <span>Supported by the NMSCD</span><br>
                    </div>

                    <div class="col-12 search">
                        <article class="search">
                            <input type="search" name="search" placeholder="Search for..." oninput="onSearchChange(this.value)" />
                            <button class="secondary project-btn no-border-right selected" data-class="list" onclick="setCardDisplay(this)" data-tooltip="List view" alt="List view">☰</button>
                            <button class="secondary project-btn no-border-left" data-class="grid" onclick="setCardDisplay(this)" data-tooltip="Grid view" alt="Grid view">&#x25a6</button>
                        </article>
                    </div>
                    
                    <div class="col-12">
                        <div class="list-container">
                            {{#each projects}}
                            {{> components/project }}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="members">
            <div class="container">
                <div class="row justify">
                    <div class="col-12">
                        <div class="heading">
                            <h2>Our Members</h2>
                        </div>
                    </div>
                    {{#each members}}
                    {{> components/member }}
                    {{/each}}
                </div>
            </div>
        </section>

        {{> components/footer}}

    </div>

    {{> components/scripts }}

</body>


</html>