section.projects {
    padding-top: 3em;
    text-align: center;

    .project-tile {
        position: relative;
        padding: 1em 1em;
        margin-top: 2em;
        margin-bottom: 0;
        transition:
            box-shadow 250ms ease-in-out,
            transform 250ms ease-in-out;

        &:hover {
            transform: translateY(-0.25em);
            box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
        }

        img {
            max-width: 33%;
            margin-bottom: 2em;
            border-radius: 1em;
            transition:
                filter 250ms ease-in-out,
                transform 250ms ease-in-out;
            will-change: filter;
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            a[role="button"] {
                margin: 0.25em 1em;
                padding: 0.25em 0.5em;
            }
        }
    }
}
