section.projects {
  .col-12.search {
    margin-bottom: -1.5em;
  }
  article.search {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1em 1em 0em 1em;

    input {
      margin-right: var(--form-element-spacing-horizontal);
    }

    button {
      max-width: 3rem;

      &.selected {
        --background-color: var(--primary);
        --border-color: var(--primary);
        cursor: not-allowed;
      }

      &.no-border-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.no-border-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
